# Week 1 - Lecture - Python Basics

# Comments
Create a comment that Week 1 Lecture Python Basics

# Numeric calculations
Perform the following arighmetic operations one in different code cell below
- 5 + 15
- 19 * 3
- 91/7
- 59//2
- 45 % 6
- 11**4

# Variables

Variables are storage bins to store numbers, strings and other data structures.  Variables must start with a letter or underscore.  It can have alphanumeric values but not special characters. The Python keywords are
**in and as assert break class continue def del elif else except False True finally for from global if import lambda
None nonlocal not or pass raise return try while with yield**

Is minutes a valid Python variable?

Is north a valid Python variable?

Is in a valid Python variable?

Is 57t a valid Python variable?

Is no* a valid Pyton variable?

# Numeric calculations using variables
In a code cell
- Assign 9 to A
- Assign 17 to B
- Add A and B
- Subtract B from A
- Multiply A and B
- Divide A by B
- Raise A to the B power

# Print function
In each code cell below 
- Assign "JoEllen" to a variable called myName
- Write the Python command to print out 'Hello Sloan, are you having a good day!' using the f-string

In [ ]:
# assign a variable name myName

In [ ]:
# print out myName

In [ ]:
# print out formatted string using f-string

Lists
Create a code cell and enter the command to create a list with the following information.  Use the Values for the elements of the list.
| English | 1st | 2nd  | 3rd | 4th | 5th | 6th | 7th | 8th |
| ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ---------|
| Values | 14 | 23 | 66 | 68 | 77 | 80 | 85 | 59 |
| Indexes | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7|

##### Enter the command to find the 5th element in the list.

Use the list command to find the 2nd thru 5th elements

Use the list command to find the 3rd to the end of the list

Use the list command to find the 1st to the 3rd items in the list.

# if statements
- Assign 33 to x
- Write an if statement to determine if x is less than 45.  If it is, print Younger than 45.
- Write an else statement to print out Age 45 or older.

- Assign 22 to y
- If y less than 10 print out Minor
- elif y < 21, print out You can vote but not drink
- elif y < 43, print out You are a young adult.
- elif y < 59, print out You are part of Generation X
- else print out age 59 or older.

# Functions
type in the following code in the code cell below.  Then call the function.<br>
```
def greetings():<br>
    return print("Greetings friend!")
```


Type in the code in the cell below and set name equal to your name.  Then call the function.<br>

```
def greet_someone(name):
    return print(f"Greetings {name}!")
```

Set the hours = 160 and the pay_rate = 22.50.  Then type the functionin a code cell in your Jupyter
Notebook and run the code.<br>
```
import numpy as np

def check_amount(hours, pay_rate):
    return np.round(hours * pay_rate, 2)
    
```

# Dictionaries
Enter the Dictionary commands in the Code cell below.
```
states = {"CA":["California", 39538223], "NM": ["New Mexico", 2117522], "AZ":["Arizona",7151502] , "NV":["Nevada", 3104614], "UT":["Utah", 3271616], "OR":["Oregon", 4237256 ]}
```
Enter the code to get population for "Arizona"

Enter the command for the population of New Mexico.